---
layout: default
permalink: /
title: Home
---
<div class = 'hero'>
  <div class = 'hero__mask'>
    <div class = 'contain'>
      <h1>CLOUD TESTING SERVICES</h1> 
      <h2>for your Websites, Apps and APIs</h2>
      <p>Easy and cost-effective way to test your Websites, Mobile/Web Applications, Web Services and APIs</p>
      <form class = 'form'>
        <input class = 'form__input' type = 'email' placeholder = 'www.example.com'>
        <input class = 'form__input form__input--submit' value = 'RUN TEST LOAD NOW' type = 'submit'>
      </form>
    </div>
  </div>
</div>
<div class = 'contain'>
  <h1>ALL-IN-ONE CLOUD TESTING PLATFORM</h1>
  <div class = 'contain contain--flex'>
    <div class = 'division'>
      <h2 class = 'left'>LOAD TESTING</h2>
    
      <p>
        Load Test Web/Mobile Applications and APIs with thousands of concurrent users
      </p>
      <p>
        Find out how many users your Website or API can handle. No coding skills are required. Run tests within the browser from <a>multiple locations </a>within minutes
      </p>
    </div>
    <div class = 'division'>
       <img src = '/assets/load-test.png' alt = 'load' class = 'shadow'>
    </div>
  </div>

</div>