<div class = 'footer'>
  <div class = 'contain contain--flex'>
   <div class = 'third'>
     <h3 class = 'left'>LATEST NEWS</h3>
     <a href = ''>Free Load Testing Tool from LoadFocus</a>
     <a href = ''>How to Load Test My Website?</a>
     <a href = ''>What is a Staging Environment in Software Development?</a>
     <a href = ''>How to Visually Compare Staging vs. Production Website</a>
     <a href = ''>Visual UI Regression Testing with Jest, Puppeteer and Headles</a>
   </div>
   <div class = 'third'>
     <h3 class = 'left'>HELP</h3>
     <a href = ''>Knowledge Base</a>
     <a href = ''>What's New?</a>
     <a href = ''>Cloud Locations</a>
     <a href = ''>Website Speed Test</a>
     <a href = ''>WebTechResources</a>
   </div>
   <div class = 'third'>
      <a href = ''>Pricing & Plans </a>
      <a href = ''>Terms & Conditions</a> 
      <a href = ''>Privacy Policy</a>
      <p>© Copyright <span class = 'year'></span></p>
   </div>
  </div>
  <h2 class = 'center'>CLOUD TESTING PLATFORM</h2>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src = '/assets/index.js'></script>