<title>{{ site.title }} {% if page.title %}| {{ page.title }}{% endif %}</title>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
{% if page.nonindex %} <meta name="robots" content="noindex"> {% endif %}
<link href = '/assets/main.css' rel = 'stylesheet'>
{% if jekyll.environment == 'production' %} {% include analytics.html %}{% endif %}
  <meta property='og:site_name' content='{{site.title}}' />
  <meta itemprop = 'description' name='description' content='{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}'>
  <meta property='og:description' content='{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}'>
  <meta property='og:locale' content='en_US' />
  {% if page.layout == 'post' %}
    <meta property='og:type' content='article' />
    <meta property='og:title' content='{{page.title}}' />
    <meta property='og:url' content='{{site.url}}{{page.url}}' />
    <meta property='article:published_time' content='{{page.date | date_to_xmlschema}}' />
    <script type='application/ld+json'>
      {'@context': 'http://schema.org',
      '@type': 'BlogPosting',
      'name': '{{site.title}}',
      'headline': '{{page.title}}',
      'description': '{{page.excerpt | strip_html | truncate: 150}}',
      'url': '{{site.url}}{{page.url}}'}
    </script>
  {% endif %}
  {% if page.image %}
    <meta property='og:image' content='{{site.url}}/assets/posts/{{page.image}}.jpg' />
    <meta property='og:image:width' content='720' />
    <meta property='og:image:height' content='360' />
    <meta name='twitter:site' content='@{{site.twitter}}' />
    <meta name='twitter:image' content='{{site.url}}/assets/posts/{{page.image}}.jpg' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:creator' content='@{{site.twitter}}' />
    <meta property='og:description'  content='{{ page.excerpt }}'/>
  {% endif %}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/manifest.json">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#ff595e">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel='canonical' href="{{ page.url | replace:'index.html','' | absolute_url }}">
