<div class = 'header__inner'>
  <div class = 'logo'>
    <a href = '/'>
      <img src = '/assets/{{ site.logo }}' alt = "{{ site.title }}" class = 'logo__image'>
    </a>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()" class = 'toggle'>&#9776;</span>
  </div>
  <nav class = 'nav'>
    {% for link in site.data.menu %}
        <a href = '{{ link.url }}' class = 'nav__item
        {% if link.url == page.url %} 
          nav__item--active 
        {% elsif page.layout == "post" and (link.name == "Blog")%}
          nav__item--active
        {% endif%}' >{{ link.name | upcase }}</a>
    {% endfor %}
  </nav>
</div>

