// Import google font
@if variable-exists(google-font_url) {
  @import url($google-font-url);
}
*{
  box-sizing: border-box;
}
html,body,div,section,p,ul,figure,img,blockquote{
  padding:0;
  margin:0;
}
body{
  font-family: $primary-font;
  font-size: $base-font;
}
h1,h2,h3,h4{
  font-family: $secondary-font;
  font-weight:700;
}

// calcualate em values
@function em($target, $context: $base-font) {
   @return ($target/$context) * 1em;
}

// maps ui colors

$ui-colors: (
  // default: $gold,
  success: $blue,
  dark: $dark 
);

// color pallete modifiers
// $palettes: (
  // $gold: (
    // different shades of gold 
  // )
// );

@mixin bg-colors($map) {

}
@each $theme, $color in $ui-colors {
  .btn-#{$theme} {
    background-color: $color;
  }
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
body{
  display: flex;
  flex-direction: column;
  min-height:100vh;
}
p{
  @include viewport(840px) {
    padding: 10px 0;
    text-align: left;
  };
}
.main{
  flex:1;
}
img{
  width:100%;
}
a{
  color: inherit;
}
::placeholder{
  color: lighten($dark, 50%);
}