.hero{
  min-height: 540px;
  align-items: stretch;
  &,&__mask{
    display: flex;
    width: 100%;
  }
  &__mask{
    padding: $padding*2.5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $blue;
  }
  h1{
    font-size: 2.25rem;
    @media screen and (min-width: 769px){
      font-size:3.8rem;  
    }
  }
  h2{
    font: size 1.8rem;
    @media screen and (min-width: 769px) {
      font-size:2.5rem;
    }
  }
  h1,h2,p{
    color: $light;
    text-align: center;
    text-shadow: 2px 2px 15px rgba(0,0,200,0.8);
    margin: 5px auto;
  }
  p{
    font-size: 1.3rem;
    margin-top: 25px;
  }
}

.contain {
  @include viewport;
  padding:50px 25px;
  text-align: center;
  &--flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &--center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
  }
}

.form{
  display: flex;
  flex-flow: row wrap;
  padding-top: 50px;
  @include viewport(480px);
  &--open{
    height: initial;
  }
  &__input{
    margin:$padding 0;
    font-size: $base-font !important;
    padding: $padding*1.5 $padding*1.5 !important;
    border:1px solid transparent !important;
    -webkit-appearance: none;
    outline: none;
    transition: border 0.3s ease-out;
    width:100%;
    box-shadow: $box-shadow;
    @media screen and (min-width: 567px){
      width:50%;
    }
    &:focus,
    &:hover{
      border:1px solid $primary-color !important;
    }
    &--submit{
      background-color: $primary-color;
      color:$light;
      font-size:1.25rem;
      cursor: pointer;
      &,
      &:hover{
        border:none;
      }
      &:hover{
        background-color: lighten($primary-color, 5%);
      }
    }
  }
  &__label{
    display:none;
  }
  &__toggle{
    background-color: $primary-color;
    color:$light;
    display: inline-block;
    width: 120px;
    padding:5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 10px 25px -2px rgba(158,174,221,0.3);
  }
}

.division{
  width: 100%;
  padding: 25px 0;
  @media screen and (min-width: 769px) {
    width: 45%;
  }
}
.third{
  width: 100%;
  padding: 15px 0;
  @media screen and (min-width: 769px) {
    width: 30%;
  }
}
.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.shadow{
  box-shadow: $box-shadow;
  border-radius: 6px;
}