footer{
  min-height:75px;
  background-color: $dark;
  color: $light;
}
.footer{
  @include viewport;
  color: $light;
  a{
    display: block;
    text-align: left;
    padding: 5px 0;
  }
  h3{
    color: $blue;
    margin-top: 0;
  }
}