.header{
  width: 100%;
  box-shadow: $box-shadow;
  &__inner{
    display: flex;
    justify-content: space-between;
    @include viewport;
    padding: 15px 0;
  }
}
.logo{
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  flex-direction: row;
  align-items: center;
  width:100%;
  &__image{
    max-width: 225px;
  }
  @media screen and (min-width: 769px)  {
    width:auto
  }
}
.nav{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s forwards;
  padding-top: 60px;
  background:$light;
  align-items: center;
  &__item{
    margin: 20px auto;
    padding: $padding $padding*1.2;
    text-align: center;
    font-weight: 700;
    &:first-of-type{
      margin-top: 100px;
    }
    @media screen and (min-width:769px) {
      &,
      &:first-of-type{
        margin:0;
      }
    }
    &--active{
      background-color: $dark;
    }
  }
  &--open{
    width:100%;
  }
  @media screen and (min-width:769px) {
    position: relative;
    flex-flow: row wrap;
    justify-content: space-between;
    width:50%;
    padding-right: 25px;
    padding-top: 0;
    height: auto;
  }
}

.toggle{
  @media screen and (min-width: 769px) {
    display: none;
  }
}
