$google-font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Poppins:600';

$base-font: 16px;
$basel-line: 1.5;
$blue:  #00a2e9;
$box-shadow: 0 25px 40px -10px rgba(158,174,221,0.2);
$dark: #111;
$light: #fff;
$max-width: 1280px;
$padding: 10px;
$primary-color: #FF595E;
$primary-font: 'Open Sans', Helvetica, Arial, sans-serif;
$secondary-font: 'Poppins', Helvetica, Arial, sans-serif;
$m-breakpoint:   screen and (min-width: 769px);

@mixin viewport ($width: $max-width){
  width:100%;
  max-width: $width;
  margin:0 auto;
  @content;
}