<!doctype html>
<html lang = 'en'>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header class = 'header'>
      {% include header.html %}
    </header>
    <div class = 'main'>
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
